$primary-color: green;
$secondary-color: white;

.test-sass {
  background-color: $primary-color;
  color: $secondary-color;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
}
